body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

.main.container {
    margin: auto;
    width: 80%;
}

.feature.container {
    margin: 30px 0px;
}

img {
    width: 90%;
    height: auto;
    margin: 0px auto;
    display: block;
}

section {
    margin: 40px 0px;
}

.title {
    text-decoration: underline;
}


table {
    border-collapse: collapse;
}

td {
    padding: 6px 12px;
    vertical-align: top;
}

td.date {
    white-space: nowrap;
    color: #555;
}